:root {
    --bgcol: #f0ffe3;
    --scol: #ffffff;
    --textcol: #2c2929;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: "MADE Outer Sans", sans-serif;
    background-color: var(--bgcol);
    color: var(--textcol);
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-height: 100vh;
    height: 100%;
    /* border: solid 2px red; */
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: -0.5em;
    margin-bottom: 2em;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

article {
    width: 100%;
}

hr {
    border: 1px solid #2c2929;
}

article section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article p {
    margin-left: 0.5em;
}

article img {
    /* border: 2px solid red; */
    height: 2em;
    width: auto;
    margin: 1em;
}

